<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discileidja korduma kippuvad küsimused">
    <meta name="keywords" content="discgolf, leitud ketas, kaotatud ketas, eesti discgolf">
    <title>Discileidja: KKK</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <script src="/js/fallback.min.js"></script>
    <script src="/js/CDNfallback.js"></script>

</head>
<body>
<header>
    <h1 class="page-header nav header-main"><a href="/index">Discileidja</a></h1>
</header>
<nav class="text-center navbar navbar-expand-lg navbar-light bg-light" about="main navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--style="display: flex; justify-content: center; flex-wrap: wrap"-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/leidsin">Leidsin<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/otsin">Otsin</a>
            </li>
            <li class="nav-item">
                <p class="nav-link active">Abi</p>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profiil">Seaded</a>
                    <a class="dropdown-item" href="/auth/logout">Logi välja</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <br>
    <h4>Korduma kippuvad küsimused</h4>
    <p><b>Ma leidsin võõra ketta - mida teha?</b>
        <br>
        Kui oled leidnud võõra ketta, siis mine meie <a href="/leidsin">Leidsin ketta</a> lehele ning sisesta leitud ketta andmed. Siis saab ketta omanik seda meie kodulehelt otsida ning sinuga ise ühendust võtta!
    </p>
    <p><b>Kuidas saan otsida oma kaotatud ketast?</b>
        <br>
        Kui oled oma ketta ära kaotanud, siis mine meie <a href="/otsin">Otsin ketast</a> lehele ning proovi sealse otsingu abiga oma ketas üles leida. Kui leiad õige ketta, siis anname sulle ketta leidja kontaktid, et saaksite omavahel kokku leppida, kuidas ketas üle anda.
    </p>
</div>
<script>    $.fn.modal || document.write('<script src="/js/bootstrap.min.js">\x3C/script>')</script>
</body>
</html>