<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discileidja</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/styles.css" type="text/css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div>
        <nav class="navbar navbar-default">
            <div class="container-fullwidth">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Discileidja</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logi sisse</a></li>
                </ul>
            </div>
        </nav>

    <br/>
    <div class="jumbotron big-banner" style="height: 100vh; padding-top:-40px; margin-top:-40px">
        <div class="container">
            <div style="text-align: left; margin-top: 300px;">
                <div class="container">
                    <a class="btn btn-lg btn-social btn-facebook">
                        <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
                    </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>