<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discileidja</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1020344370651-cpvtmd5bbgvc60uofucd7j3lv65qkdnn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/lib/require.js" data-main="app"></script>
</head>
<body class="big-banner">
    <header>
        <h1 class="page-header nav header-main">Discileidja</h1>
    </header>
    <nav class="text-center navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--style="display: flex; justify-content: center; flex-wrap: wrap"-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/leidsin">Leidsin<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/otsin">Otsin</a>
                </li>
                <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/abi">Abi</a>
                </li>
                <li class="nav-item dropdown"  style="padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profiil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profiil">Seaded</a>
                        <a class="dropdown-item" href="/">Logi välja</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        const xhttp = require("express");

        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            var xhr = new XMLHttpRequest();
            var url = "url";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);

            let send = {"Id":profile.getId(), "GivenName": profile.getGivenName(), "FamilyName": profile.getFamilyName(),
            "ImageURL": profile.getImageUrl(), "Email": profile.getEmail()};

            let sendString = JSON.stringify(send);
            alert(sendString);
            xhr.send(send);

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }

        /*con.connect(function(err) {
            if (err) throw err;
            let aaaa= profile.getName();
            console.log("Connected!");
            var sql = "INSERT INTO users (id, eesnimi, perenimi, profiilipilturl, meiliaadress)" +
                " VALUES ('+profile.getId()+, ')";
            con.query(sql, function (err, result) {
                if (err) throw err;
                console.log("1 record inserted");
            });
        });
        */

    </script>
</body>
</html>
