<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Discileidja</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1020344370651-cpvtmd5bbgvc60uofucd7j3lv65qkdnn.apps.googleusercontent.com">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<header>
    <h1 class="page-header nav header-main"><a href="/" style="text-decoration:none; color:white">Discileidja</a></h1>
</header>
<nav class="text-center navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--style="display: flex; justify-content: center; flex-wrap: wrap"-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                <p class="nav-link active">Leidsin</p>
            </li>
            <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/otsin">Otsin</a>
            </li>
            <li class="nav-item" style="padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/abi">Abi</a>
            </li>
            <li class="nav-item dropdown"  style="padding-left: 2em; padding-right: 2em;">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profiil">Seaded</a>
                    <a class="dropdown-item" href="/auth/logout">Logi välja</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</nav>
<div class="container">
    <p></p>
    <p class="text-holder-center">Kui oled leidnud võõra ketta, siis siia saad sisestada leitud ketta andmed.<br>
        Kõige tähtsam on lisada rada, kust ketas leiti, kuid võimalusel lisa palun kogu info.</p>
    <hr>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Rada <i class="fa fa-info-circle" data-toggle="modal" data-target="#modalKaart" style="cursor: pointer;"></i></label>
            <select id="asukoht" name="asukoht" class="form-control" required>
                <option value="Vooremäe">Vooremäe</option>
                <option value="Tartu Dendropark">Tartu Dendropark</option>
                <option value="muu" id="muu" data-toggle="modal" data-target="#modalMuu">Muu</option>
            </select>
            <!-- MUU VALIKU MODAL -->
            <div id="modalMuu" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="button">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lisa muu rada</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="muuRada" name="muuRada" class="form-control">
                            <button type="button" class="btn btn-primary mt-3" onclick="muudaMuu()" data-dismiss="modal" aria-label="Close">Sisesta</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- KAARDI MODAL -->
            <div id="modalKaart" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Radade asukohad</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container" id="googleMap" style="width: auto;height: 20em;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <input type="text" id="rada" name="rada" class="form-control" placeholder="test">
            -->
        </div>
        <div class="form-group">
            <label for="nimi">Nimi</label>
            <input type="text" id="nimi" name="nimi" class="form-control" placeholder="Lisa discil olev nimi">
        </div>
        <div class="form-group">
            <label for="number">Number</label>
            <input type="text" id="number" name="number" class="form-control">
        </div>
        <div class="form-group">
            <label for="värvus">Värvus</label>
            <input type="text" id="värvus" name="värvus" class="form-control">
        </div>
        <div class="form-group">
            <label for="tootja">Tootja</label>
            <input type="text" id="tootja" name="tootja" class="form-control">
        </div>
        <div class="form-group">
            <label for="mudel">Mudel</label>
            <input type="text" id="mudel" name="mudel" class="form-control">
        </div>
        <div class="form-group">
            <label for="lisainfo">Lisainfo</label>
            <textarea name="lisainfo" id="lisainfo" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="pilt">Pilt</label>
            <input type="file" id="pilt" name="pilt" accept="image"  class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary btn-lg mb-5">Lisa ketas</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    function myMap() {
        var vooremäe = {lat: 58.284462, lng: 26.891569};
        var infoVooremäe = "Vooremäe";

        var dendropark = {lat: 58.393514, lng: 26.698580};
        var infoDendro = "Tartu Dendropark";

        var infowindow = new google.maps.InfoWindow({
            content: infoVooremäe, infoDendro
        });

        var mapProp= {
            center:new google.maps.LatLng(vooremäe),
            zoom:12,
        };

        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var markerDendro = new google.maps.Marker({
            position: dendropark,
            map: map,
            title: 'Tartu Dendropark'
        });

        var markerVooremäe = new google.maps.Marker({
            position: vooremäe,
            map: map,
            title: 'Vooremäe'
        });
    }
</script>
<script>
    function muudaMuu(){
        var uusAsukoht = document.getElementById('muuRada').value;
        var muu = document.getElementById('muu').value = uusAsukoht;

        document.getElementById("muu").innerHTML = "Muu - "+uusAsukoht;
    }
</script>
<script id="data" type="application/json" src="./lib/leidsin.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Hhc6tzYIKAG--AJEK2HfhLbJvlFYGcE&callback=myMap"></script>
</body>
</html>