<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Leitud discgolfi ketta tagastamine">
    <meta name="keywords" content="discgolf, leitud ketas, kaotatud ketas">
    <title>Discileidja: leidsin ketta</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <script src="/js/fallback.min.js"></script>
    <script src="/js/CDNfallback.js"></script>
</head>
<body>
<header>
    <h1 class="page-header nav header-main"><a href="/index">Discileidja</a></h1>
</header>
<nav class="text-center navbar navbar-expand-lg navbar-light bg-light" about="main navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--style="display: flex; justify-content: center; flex-wrap: wrap"-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <p class="nav-link active">Leidsin</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/otsin">Otsin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/abi">Abi</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profiil">Seaded</a>
                    <a class="dropdown-item" href="/auth/logout">Logi välja</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/en/found"><img src="/images/united-kingdom-flag-button-round-icon-64.png"></a>
            </li>
        </ul>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</nav>
<div class="container">
    <p></p>
    <p class="text-holder-center">Kui oled leidnud võõra ketta, siis siia saad sisestada leitud ketta andmed.<br>
        Kõige tähtsam on lisada rada, kust ketas leiti, kuid võimalusel lisa palun kogu info.</p>
    <hr>
    <div id="vastusAlert" class="container"></div>
    <form method="POST" id="lisamiseForm" enctype="multipart/form-data" action="javascript:void(0);">
        <div class="form-group">
            <label data-toggle="tooltip" title="Märgi siia rada, kust antud ketta leidsid">Rada</label> <i class="fa fa-info-circle" data-toggle="modal" data-target="#modalKaart">(Vaata radade kaarti)</i>
            <select id="rada" name="rada" class="form-control" required>
                <option value="Vooremäe">Vooremäe</option>
                <option value="Tartu Dendropark">Tartu Dendropark</option>
                <option value="muu" id="muu" data-toggle="modal" data-target="#modalMuu">Muu</option>
            </select>

            <!-- MUU VALIKU MODAL -->
            <div id="modalMuu" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="button">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lisa muu rada</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="muuRada" name="muuRada" class="form-control">
                            <button type="button" class="btn btn-primary mt-3" onclick="muudaMuu()" data-dismiss="modal" aria-label="Close">Sisesta</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- KAARDI MODAL -->
            <div id="modalKaart" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Radade asukohad</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container" id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="form-group">
            <label for="nimi" data-toggle="tooltip" title="Kui kettal on märgitud omaniku nimi, lisa see siia">Nimi kettal</label>
            <input type="text" id="nimi" name="nimi" class="form-control" placeholder="Lisa discil olev nimi">
        </div>
        <div class="form-group">
            <label for="telefoninumber" data-toggle="tooltip" title="Kui ketta omanik on lisanud oma telefoninumbri, kirjuta see siia">Number</label>
            <input type="text" id="telefoninumber" name="telefoninumber" class="form-control">
        </div>
        <div class="form-group">
            <label for="värvus" data-toggle="tooltip" title="Ketta värvus">Värvus</label>
            <input type="text" id="värvus" name="värvus" class="form-control">
        </div>
        <div class="form-group">
            <label for="tootja" data-toggle="tooltip" title="Kui saad, märgi kelle toodetud ketas see on">Tootja</label>
            <input type="text" id="tootja" name="tootja" class="form-control">
        </div>
        <div class="form-group">
            <label for="mudel" data-toggle="tooltip" title="Kui saad, märgi ära ketta mudel">Mudel</label>
            <input type="text" id="mudel" name="mudel" class="form-control">
        </div>
        <div class="form-group">
            <label for="lisainfo" data-toggle="tooltip" title="Kui kettal on muid eristavaid omadusi (täkked, kleepsud vmt), märgi need siia">Lisainfo</label>
            <textarea name="lisainfo" id="lisainfo" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="pilt">Pilt</label>
            <input type="file" id="pilt" name="pilt" accept="image"  class="form-control-file">
        </div>
        <button onclick="saada()" class="btn btn-toolbar mb-5">Lisa ketas</button>
        </div>
    </form>
</div>
<div class="footer">
    <div class="wrapper">
        <img data-src="/images/est-forest.jpg" class="lazy">
    </div>
</div>

<script src="/js/leidsin.js"></script>
<script src="/js/lazyLoad.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Hhc6tzYIKAG--AJEK2HfhLbJvlFYGcE&callback=myMap"></script>
<script src="/js/custom.js"></script>
</body>
</html>