<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Discileidja</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <link href="/css/bootstrap-social.css" rel="stylesheet" media="all" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1020344370651-cpvtmd5bbgvc60uofucd7j3lv65qkdnn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1 class="page-header nav header-main"><a href="/" style="text-decoration:none; color:white">Discileidja</a></h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="social-sizes">

                <a class="btn btn-block btn-social btn-lg btn-google-plus" href="/auth/google">
                    <i class="fa fa-google-plus"></i>
                    Sign in with Google
                </a>

                <a class="btn btn-block btn-social btn-lg btn-facebook">
                    <i class="fa fa-facebook"></i>
                    Sign in with Facebook
                </a>

            </div>
        </div>
    </div>
</div>
</body>
</html>