<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kaotatud discgolfi ketta otsing">
    <meta name="keywords" content="discgolf, leitud ketas, kaotatud ketas">
    <title>Discileidja: ketta otsing</title>
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <script src="/js/fallback.min.js"></script>
    <script src="/js/CDNfallback.js"></script>

</head>
<body>
<header>
    <h1 class="page-header nav header-main"><a href="/index">Discileidja</a></h1>
</header>
<nav class="text-center navbar navbar-expand-lg navbar-light bg-light" about="main navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--style="display: flex; justify-content: center; flex-wrap: wrap"-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/leidsin">Leidsin<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <p class="nav-link active">Otsin</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/abi">Abi</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profiil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/profiil">Seaded</a>
                    <a class="dropdown-item" href="/">Logi välja</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <p></p>
    <p class="text-holder-center">Kui oled oma ketta ära kaotanud, proovi otsida siit oma ketast.</p>
    <hr>
    <form method="post" enctype="multipart/form-data" about="Kaotatud ketta otsing">
        <div class="form-group form-small">
            <label for="rada">Rada, kus ketas kaotati</label>
            <input type="text" id="rada" name="rada" class="form-control form-narrow">
        </div>
        <div class="form-group form-small">
            <label for="nimi" data-toggle="tooltip" title="Kui kettal on sinu nimi, kirjuta see siia">Nimi kettal</label>
            <input type="text" id="nimi" name="nimi" class="form-control form-narrow">
        </div>
        <div class="form-group form-small">
            <label for="number" data-toggle="tooltip" title="Kui kettal on sinu telefoninumber, kirjuta see siia">Number</label>
            <input type="text" id="number" name="number" class="form-control form-narrow">
        </div>
        <div class="form-group form-small">
            <label for="värvus" data-toggle="tooltip" title="Kaotatud ketta värvus">Värvus</label>
            <input type="text" id="värvus" name="värvus" class="form-control form-narrow">
        </div>
        <div class="form-group form-small">
            <label for="tootja" data-toggle="tooltip" title="Kui saad, märgi kelle toodetud ketas on">Tootja</label>
            <input type="text" id="tootja" name="tootja" class="form-control form-narrow">
        </div>
        <div class="form-group form-small">
            <label for="mudel" data-toggle="tooltip" title="Kui saad, märgi ära ketta mudel">Mudel</label>
            <input type="text" id="mudel" name="mudel" class="form-control form-narrow">
        </div>
        <button type="submit" class="btn btn-toolbar mb-5">Otsi ketast</button>
    </form>
</div>
</body>
</html>