<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discileidja kodulehekülg">
    <meta name="keywords" content="discgolf, leitud ketas, kaotatud ketas, eesti discgolf">
    <title>Discileidja koduleht</title>
    <link href="/css/styles.css" rel="stylesheet" media="all" >
    <link rel="icon" href="images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/fallback.min.js"></script>
    <script src="/js/CDNfallback.js"></script>

</head>
<body class="big-banner">
<a class="nav-link home-btn" href="/"><img src="/images/estonia-flag-button-round-icon-64.png"></a>
<div class="dark-container">
    <div class="inner-container">
        <h3>Welcome to the Discileidja website!</h3>
        <a href="/auth/login"><button class="btn">Log in</button></a>
    </div>
</div>

</body>
</html>